---
import HomePage from "../layouts/HomePage.astro";
import HeroButton from "../components/HeroButton.astro";
import HeroButtonHolder from "../components/HeroButtonHolder.astro";
import HeroText from '../components/HeroText.astro';
import NewsList from "../components/NewsList.astro";

import { getCollection } from "astro:content";

import { DISCORD_INVITE_LINK, MEETUP_PAGE_LINK } from "../constants";
import TwoColumns from "../components/TwoColumns.astro";

const news = (await getCollection("news")).sort((a, b) => {
    return Date.parse(b.data.date) - Date.parse(a.data.date);
});
---

<HomePage title="Code and Coffee">
    <div class="logo-holder">
        <img src="/logo.svg"alt="code+coffee logo" />
    </div>
    
    <img src="/logotype.svg" class="logotype" alt="code+coffee logotype" />
    <HeroButtonHolder>
        <HeroButton type="discord" url={DISCORD_INVITE_LINK}>Join us on Discord </HeroButton>
        <HeroButton type="meetup" url={MEETUP_PAGE_LINK}>RSVP on Meetup.com </HeroButton>
    </HeroButtonHolder>

    <TwoColumns>
        <NewsList news={news} slot="right"/>
        <HeroText slot="left">
            <h2>About Us</h2>
                We're a community bringing programmers in a casual environment to share, collaborate,
                and hack together.
                <p>
                    Weekly online meetings Saturdays 10:30am PST on <a href={DISCORD_INVITE_LINK}>Discord</a>.
                </p>
    
                <p>
                    In-person meetups at least once a month around Long Beach, see <a href={MEETUP_PAGE_LINK}>Meetup.com</a> for details.
                </p>
        </HeroText>
    </TwoColumns>
</HomePage>

<style>
    .logo-holder {
        padding: 3ch;
        text-align: center;
    }
    .logo-holder img {
        max-width: 50%;
        max-height: 30vh;
    }

    .logotype {
        margin: 0 auto;
        display: block;
        max-width: 500px;
        margin-bottom: 3ch;

    }
</style>